
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital@1&family=Kanit:wght@400;500&family=Manrope:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Wellfleet&display=swap');

span.spacer {
  flex: 1 1 auto;
}




.music-length{
  width: 100%;
  height: unset;
}

.slider-full{
  width: 100%;
}



input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 26px;
  height: 3px;
  background-color: rgb(74, 123, 197);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}
.slider-full:hover::-webkit-slider-thumb {
  width:10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}



.pause{
  background-color: white;
  color: black;
}

.pause:hover > .pause-icon{
  color: black;
}

.skip{
  font-size: 35px;
  width: unset;
  height: unset;
  position: absolute;
  transform: translate(-50%, -50%);
}


.skip-button{
  position: relative;
}


.buttons{
  gap: 14px;
}


.main-section{
  display: flex;
}

.first{
  flex: 70;
}

.delicate{
  flex: 30;
  height: calc(100vh - 100px);
  overflow-y: auto; 
  background: linear-gradient(112deg, #9599a9 10%, rgb(0 0 0 / 83%) 65%);

    text-align: center;
  
}

.coverImage{
  width: 90%;
  height: 500px;
  border-radius: 20px;
  margin: 15px 5px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main{
  height: calc(100vh - 164px);
  overflow-y: auto; 

}


.volume-div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
  width: 25%;
}




nav{
  width: 100%;
  height: 64px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  position: relative;
  font-weight: bold;
}
.navbar ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

.navbar ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(172, 160, 160);
  font-family: 'Montserrat', sans-serif;
}

.navbar ul li::after {
  content: "";
  height: 0.3rem;
  width: 0;
  background-image: linear-gradient(144deg,#5a535f, #323237 50%,#253d3e);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}



