<section class="main-section" id="main-section">

  <div style="display: flex;flex-direction: column;" class="first">
    <nav class="navbar">
      <ul class="nav-ul">
        <li id="index"><a routerLink="/">ელაბორაცია</a></li>
        <li id="books"><a routerLink="/anakoko" id="kak">მოსალოცი</a></li>
        <li id="about"><a routerLink="/chemigandzi">საგანძური</a></li>
        <li id="contact"><a routerLink="/bye" id="contactLink">მშვიდობით</a></li>
      </ul>
    </nav>

    <div *ngIf="showMusicsComponent && showBye && showGandzi" class="main" style="padding: 15px; padding-bottom: 20px;">
      <!-- <app-musics [musicList]="musicList" (musicIndex)="play($event)"></app-musics> -->
      <div
        style="margin-bottom:5px; margin-top: 30px; display: flex; gap: 10px; align-items: center; justify-content: center;">
        <button class="btn btn-primary button-85" (click)="openDialog()">
          არიჩიე სიმღერა
        </button>
        <button class="btn btn-primary button-85" *ngIf="show" (click)="showPoema()">
          გიორგის პოემა
        </button>
      </div>

      <div style="padding-top: 30px; width: 330px; margin: 0 auto;position: relative; text-align: center;">
        <img src="../assets/images/chven/no6.jpg" alt="" (click)="gaxsenWarsuli()" class="past">
        <br>
        <p style="font-weight: 600; font-size: 17px; color: #83c9d1;;">ჰანგები წარსულიდან</p>

        <div class="modal fade" id="warsuli" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
          data-dismiss="modal" aria-hidden="true" style="position: absolute;width: 330px; top: 50px;">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style=" background-color: transparent; border: 0;">
              <div
                style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 25px;">

                <button
                  style="background-color: rgba(173, 37, 37, 0.401);padding: 7px; border-radius: 10px; color: #ff0000; border: 0; outline: 0; "
                  data-dismiss="modal" class="closiko">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7.75732 16.2426L16.2426 7.75736" stroke="red" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M16.2426 16.2426L7.75732 7.75736" stroke="red" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </button>
                <button class="button-82-pushable" role="button" type="button" id="add-employee-form"
                  data-dismiss="modal" (click)="play(13)">
                  <span class="button-82-shadow"></span>
                  <span class="button-82-edge"></span>
                  <span class="button-82-front text">
                    ვალენტინობა
                  </span>
                </button>

                <button class="button-82-pushable" role="button" type="button" id="add-employee-form"
                  data-dismiss="modal" (click)="play(14)">
                  <span class="button-82-shadow"></span>
                  <span class="button-82-edge"></span>
                  <span class="button-82-front text">
                    ინდურები
                  </span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <br>
      <br>
      <div *ngIf="manaxechemipoema"
        style="  border-radius: 20px;
      box-shadow: rgba(48, 44, 44, 0.74) 0px 3px 8px; padding: 15px; margin-bottom: 10px;  text-align: center; background: linear-gradient(112deg,rgb(45 62 76) 10%,rgb(3,3,2) 74%);">


        <p style="white-space: pre-wrap; text-align: left;color: #a8b5b5;font-family: ui-monospace; font-weight: 600;">
          2023 წლის ერთ-ერთი ღამეა და შენზე დავფიქრდი, გამახსენდა განუსაზღვრელ(არ მინდა ვთქვა როდის დავფიქრდი შენზე და
          როდის დავიწყე ამის კეთება) თვეში შენი დაბადების დღე როა და მე უბრალოდ ფიზიკურად არ მომეცა
          შანსი რამე მეჩუქა შენთვის რომელიმე დაბადების დღეზე, პირველს თუ არ ჩავთვლით, რომელზეც გაჩუქე საათი, რომელსაც
          ჩუქნის დღიდანვე მტრობ და ამტვერებ წიგნების თაროზე, ნუ მაგის მერე სულ ჩემს დაბადების დღეზე ვიყავით ხოლმე კარგად
          და შენ
          მჩუქნიდი ხოლმე, კიდევ გამახსენდა ფაქტი, როდესაც დენდროლოგიურში მითხარ რომ ზოგჯერ სხვებისგან, ნაკლებად
          მნიშვნელოვანი ადამიანებისგან უფრო გრძნობდი დაფასებას ხოლმე ვიდრე ჩემგან, ეგ კი სიმართლე გითხრა მაგრა გამიტყდა
          მაშინ და მახსენდებოდა ხოლმე შიგადაშიგ. შემდეგ დავფიქრდი რა შეიძლებოდა გამეკეთებინა შენთვის რო აი იმ დამღლელი
          მატერიალური საჩუქრებისათვის მეჯობნა(დავიღალე მართლა,დღევნადელობაში ხალხს ფანტაზია დაკარგული აქვს და ერთმანეთს
          ყველა რაღაც ბანძობას ჩუქნის), ხოდა ვიფიქრე საიტს ავუწყობ და ვატივტივებ სადმე ვებში-მეთქი, ნუ ჩემი ფანტაზია
          ვებსაიტებსაც კი გაცდა, მაგრამ მაინც მათ დასჯერდა(not exactly, მალე გაიგებ რასაც ვგულიხმობ).
          <br>
          <br>
          ამა თვის ამა ღამეს დავიწყე ამ ვებსაიტის კეთება, რამდენიმე დღე ვაკეთე, სახე გავიძრე და მერე მივატოვე კაი ხანი,
          შემოვდე ჩემს კარადაზე და დავმტვერე, მერე საცხა შემხვდი და ისევ გამახსენდა საიტი, მარა მაინც არ გავაგრძელე,
          ძაან
          რო არ გავწელო და მოკლედ რომ გითხრა, ერთი გარდამტეხი მომენტი მქონდა განუსაზღვრელი დროის წინათ, როცა დავფიქრდი
          რო უნდა
          დამესრულებინა
          ბოლომდინ
          და თანაც ისე რო რავი დარწმუნებული ვყოფილიყავი ასეთ საჩუქარს თუ არა ეთ ლისტ საიტს მაინც რო არ მოგიძღვნიდა
          არავინ,
          არასდროს,
          როგორი ასეთი კონკურენტუნაირაინი ბიჯი. ნუ იცი რაა, შეიძლება ვინმე მომავალში დაჯდეს სამი დღე-ღამე ნახატი
          გიხატოს ან რამე შეგიქმნას, სახე გაიძროს, მარა რეალურად მე უფრო მეტი დრო მაქვს დათმობილი შენი 21 წლის
          იუბილესათვის, ხოდა ნოუ
          ვორის. თანაც არ გეგონოს რამე ტუტორიალის მიხედვით აგიწყე, ბანძად, ნო, ჩემით ვეწვალე, ისე მთლად სპოტიფაისთვის არ
          მიმისგავსებია,
          მარა მიუზიკ ფლეიერის დიზაინის ინსპირაცია ეგ იყო და ვხსნიდი სპოტიფაის ხოლმე და ვამთხვევდი რაცხებს, შეიძლება
          ბოლომდე ვერც აღიქვა,
          აი თუნდაც მუსიკა რომ გაისმის და დაბლა მიუზიკ ბარი რომ მიდის მაგას რო აჭერ და გასული ნაწილი მწვანე როა
          დანარცენი
          კი ნაცრისფერი, აი
          ეგეთი დეტალების გაკეთება მაგარი წვალებაა აი მაგარიი. თითეული წამისა და მომენტის დაჭერა რო მუსიკა გაისმოდეს
          ვებსაიტზე და
          დიზაინიც იცვლებოდეს რელაციურად მაგაზე აღარაფერს ვამბობ, მალა ჰო, ესაა რაცაა


          <br>
          <br>
          <strong>P.S</strong>
          <br>
          ვაღიარებ, რომ ანდრიასთან ჰორიზონტის მხარეები შემეშალა, თან რამდენიმე ჭიქა მქონდა დალეული და გავჯიუტდი,
          არ ვაღიარებდი და მერე გამსწორებასაც კი ვცდილობდისავით, დესპერადო ვიყავი :დდ , მარა არაუშავს,
          ხომ გაგიგია: "როგორც ერთი სიბრძნე ვერ აქცევს ადამიანს გენიოსად, ისე ერთი სისულე - იდიოტად". თანაც იმედია
          გახსოვს
          მხარეებზე უნარების ამოცანა ვინ აგისხნა :*
        </p>
        <br>
        <img *ngIf="show" src="../assets/images/sidess.png" alt="" width="450" height="250" style="border-radius: 10px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(30%); ">
      </div>

    </div>

    <div *ngIf="!showMusicsComponent" class="main">
      <app-anakoko></app-anakoko>
    </div>

    <div *ngIf="!showBye" class="main">
      <app-bye></app-bye>
    </div>

    <div *ngIf="!showGandzi" class="main">
      <app-treasure *ngIf="gamomichine"></app-treasure>
    </div>

    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" style="margin-top: 150px;" role="document">
        <div class="modal-content"
          style="padding: 50px; background: linear-gradient(112deg, #b0c4de 10%, #4682b4 74%); position: relative;">
          <p style="padding: 20px; color: #fff; font-size: 18px; text-align: center;">
            00:15 - ზე გადაიხედე შენს ეზოში, შეიძლება რაღაცა დაგხვდეს, აი მას შემდეგ კი შეუძლია მის აღმატებულებას რო
            დააჭიროს კაი რა - ს
          </p>
          <button type="button" id="add-employee-form" class="btn btn-secondary close" data-dismiss="modal"
            (click)="dismissModal()" style="background-color: #fff; color: #4682b4;">
            კაი რა
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="delicate" [style.background]="currentMusic.gradient">
    <img *ngIf="currentMusic.coverImage && !tovlisGunda && currentMusic.title != 'წვიმად გადავიქეცი'"
      [src]="currentMusic.coverImage" alt="" class="coverImage">
    <img *ngIf="(currentMusic.coverImage && tovlisGunda) || currentMusic.title == 'წვიმად გადავიქეცი'"
      [src]="currentMusic.coverImage" alt="" class="coverImage" style="box-shadow: none;">
    <img *ngIf="!currentMusic.coverImage" src="../assets/images/noimage/no5.png" style="box-shadow: none;" alt=""
      class="coverImage">

    <div style="margin-bottom: 15px;">
      <h1 style="text-align: left; margin-left: 30px; font-weight: 700; margin-bottom: 5px;">Album</h1>
      <div style="text-align: left; display: flex; gap: 10px;margin-left: 30px;">
        <img *ngIf="currentMusic.albumImage" [src]="currentMusic.albumImage" alt="" width="100" height="100"
          style="border-radius: 7px;">
        <img *ngIf="!currentMusic.album Image" src="../assets/images/noimage/no5.png" style="box-shadow: none;" alt=""
          width="100" height="100">
        <h2 style="padding-right: 7px; font-family: system-ui;">{{currentMusic.album}}</h2>
      </div>

    </div>
    <h1 style="text-align: left; margin-left: 30px; margin-top: 10px; margin-bottom: 5px; font-weight: 700;">
      Lyrics</h1>
    <div
      style="box-shadow: rgba(48, 44, 44, 0.74) 0px 3px 8px;width: fit-content; margin:0 20px 20px 20px; padding:10px 10px 10px 10px;">
      <p *ngIf="currentMusic.lyrics"
        style="text-align: left; color: #d2d8d2;font-weight: 500; font-family: system-ui; margin: 0; word-break: break-all;"
        [innerHTML]="currentMusic.lyrics">

      <p *ngIf="!currentMusic.lyrics" style="margin: 0;">
        no lyrics, first choose a song
      </p>

    </div>


    <h1 *ngIf="currentMusic.elaboration"
      style="text-align: left; margin-left: 30px; margin-top: 10px; margin-bottom: 5px; font-weight: 700;">
      Elaboration</h1>
    <div *ngIf="currentMusic.elaboration"
      style="box-shadow: rgba(48, 44, 44, 0.74) 0px 3px 8px;width: fit-content; margin:0 20px 20px 20px; padding:10px  10px;">


      <p style="text-align: left; font-family: system-ui; font-weight: 500; font-size: 12px; margin: 0;">
        {{currentMusic.elaboration}}</p>

    </div>

    <img *ngIf="currentMusic.lyrics && currentMusic.title == '14 თებერვალი'" src="../assets/images/chven/14teberva.jpg"
      alt="" style="margin-top: 30px; width: 90%; margin-bottom: 30px; ">

    <img *ngIf="currentMusic.lyrics && currentMusic.title == 'Evergreen'" src="../assets/images/albums/beautiful.jpg"
      alt="" style="margin-top: 15px; width: 90%; margin-bottom: 30px; ">



  </div>

</section>


<footer style="display: flex">
  <div style="display: flex; align-items: center; gap: 10px; width: 25%; margin-left: 25px;">
    <img *ngIf="!currentMusic.title" src="../assets/images/noimage/no5.png"
      style="box-shadow: none; background-color: #939495; border-radius: 12px;" alt="" height="60" width="60"
      class="player-image">
    <img *ngIf="currentMusic.title" src="{{currentMusic.image}}" alt="" height="60" width="60" class="player-image">
    <div>
      <p *ngIf="!currentMusic.title">Choose a song</p>
      <p *ngIf="currentMusic.title" style="margin: 0; font-weight: bold;">{{ currentMusic.title }}</p>
      <p *ngIf="currentMusic.title" style="margin: 0; color: grey; font-size: smaller;">{{ currentMusic.artist }}</p>
    </div>

  </div>


  <div class="footer-div">
    <mat-toolbar class="kka buttons">
      <button mat-icon-button (click)="prev()" class="skip-button">
        <mat-icon class="skip">skip_previous</mat-icon>
      </button>
      <button mat-icon-button (click)="play()" class="pause">
        <mat-icon class="pause-icon">{{ audio.paused ? "play_arrow" : "pause" }}</mat-icon>
      </button>
      <button mat-icon-button (click)="next()" class="skip-button">
        <mat-icon class="skip">skip_next</mat-icon>
      </button>
    </mat-toolbar>

    <mat-toolbar class="kka music-length">
      <span style="font-size: 12px;">{{ currentTime }}&nbsp;</span>
      <input type="range" #myRangeInput class="slider-full" id="myRangeInput"
        [style.background]="isHovered ? getHoverBackground() : getRangeBackground()"
        value="{{ audio.readyState === 0 ? 0 : audio.currentTime }}" min="0" [max]="duration" step="1"
        (input)="durationSlider($event)" (mouseout)="onMouseOut()" (mouseover)="onMouseOver()" />
      <span style="font-size: 12px;">&nbsp;{{ musicLength }}</span>
    </mat-toolbar>
  </div>

  <div class="volume-div">
    <button mat-icon-button (click)="mute()">
      <mat-icon>volume_up</mat-icon>
    </button>



    <input #volumeInput type="range" size="4" class="slider-full primary" min="0" max="1" step="0.01"
      (input)="volumeSlider($event)" [style.background]="setBackgroundVolume()" style="width: 100px"
      (mouseout)="onMouseOutVolume()" (mouseover)="onMouseOverVolume()" />
  </div>
</footer>

<!-- isHoveredVolume ? '#1ed760' : 'white' -->




<router-outlet></router-outlet>