
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital@1&family=Kanit:wght@400;500&family=Manrope:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Wellfleet&display=swap');

span.spacer {
  flex: 1 1 auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: black !important;
  // background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100px;
}


.kka{
  color: #b3b3b3;
  width: auto;
  background-color: black;
}

.kka button:hover{
  color: white;
}

.footer-div{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}


.music-length{
  width: 100%;
  height: unset;
}

.slider-full{
  width: 100%;
}



input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 26px;
  height: 3px;
  background-color: rgb(74, 123, 197);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}
.slider-full:hover::-webkit-slider-thumb {
  width:10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}



.pause{
  background-color: white;
  color: black;
}

.pause:hover > .pause-icon{
  color: black;
}

.skip{
  font-size: 35px;
  width: unset;
  height: unset;
  position: absolute;
  transform: translate(-50%, -50%);
}


.skip-button{
  position: relative;
}


.buttons{
  gap: 14px;
}


.main-section{
  display: flex;
}

.first{
  flex: 70;
}

.delicate{
  flex: 30;
  height: calc(100vh - 100px);
  overflow-y: auto; 
  background: linear-gradient(112deg, #9599a9 10%, rgb(0 0 0 / 83%) 65%);

    text-align: center;
  
}

.coverImage{
  width: 90%;
  height: 500px;
  border-radius: 20px;
  margin: 15px 5px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main{
  height: calc(100vh - 164px);
  overflow-y: auto; 

}


.volume-div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
  width: 25%;
}




nav{
  width: 100%;
  height: 64px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  position: relative;
  font-weight: bold;
}
.navbar ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

.navbar ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(188 172 172);
  font-family: 'Montserrat', sans-serif;
}

.navbar ul li::after {
  content: "";
  height: 0.3rem;
  width: 0;
  background-image: linear-gradient(144deg,#5a535f, #323237 50%,#253d3e);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}



.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000

    
);

  




  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff7878;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  left: 0;
  top: 0;
  border-radius: 10px;
}


.past {
 
  -webkit-transition: all .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  width: 300px;
  height: 297px;
  border-radius: 13px;
  box-shadow: rgba(98, 90, 90, 0.592) 0px 3px 8px;

}

.past:hover {
  -webkit-transform: scale(0.99);
}

.closiko{
  -webkit-transition: all .2s ease-in-out;
}

.closiko:hover{
  -webkit-transform: scale(1.1);

}
///////


/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}