/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  color: white;
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
   background: linear-gradient(112deg, rgb(30, 26, 8) 10%, rgb(7, 7, 3) 74%);


  }




  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(73, 73, 78) black;
    // font-family: Courier, monospace;
    // font-weight: 400;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 78);
    border-radius: 20px;
    border: 3px solid black;
  }


  .player-image{
    -webkit-transition: all .2s ease-in-out;
  
  }
  
  
  .player-image:hover{
    -webkit-transform: scale(1.05);
  
  }

  //nav


.modal-content{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}





.modal-footer{
  margin-top: 100px;
  border-top: 0;
  display: flex;
  justify-content: space-between;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
  45deg,
  #3b5a6b,      /* Light Gray */
  #4e4eb1,      /* Blue */
  #6a5acd,      /* Slate Blue */
  #800080,      /* Purple */
  #ba55d3,      /* Medium Orchid */
  #9370db,      /* Medium Purple */
  #8a2be2,      /* Blue Violet */
  #4b0082       /* Indigo */
);

  


  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff7878;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  left: 0;
  top: 0;
  border-radius: 10px;
}