/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  color: white;
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
   background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);


  }




  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(73, 73, 78) black;
    // font-family: Courier, monospace;
    // font-weight: 400;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 78);
    border-radius: 20px;
    border: 3px solid black;
  }


  .player-image{
    -webkit-transition: all .2s ease-in-out;
  
  }
  
  
  .player-image:hover{
    -webkit-transform: scale(1.05);
  
  }

  //nav


.modal-content{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}





.modal-footer{
  margin-top: 100px;
  border-top: 0;
  display: flex;
  justify-content: space-between;
}